@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 66 187 255;
  --color-purple: 149 66 255;
  --color-green: 66 255 119;
  --color-white: 255 255 255;
  --color-black-900: 16 18 30;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--color-white));
  background: rgb(var(--color-black-900));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
