@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --primary: 66 187 255;
    --primary-gradient-start: 67 183 254;
    --primary-gradient-end: 79 72 230;
    --primary-800: 12 50 71;

    --warning-500: 255 76 63;
    --toastify-icon-color-warning: rgb(var(--warning-500) / 0.15);

    --my-black-600: 46 55 87;
    --my-black-700: 29 32 50;
    --my-black-800: 19 22 37;
    --my-black-900: 16 18 30;

    --my-white-100: 255 255 255;
    --my-white-300: 173 179 204;
    --my-white-500: 85 89 125;

    --my-purple: 149 66 255;

    --my-green-400: 104 209 191;
    --my-green-500: 66 255 119;

    --color-cal-0: 27 31 35;
    --color-cal-1: 22 27 34;
    --color-cal-2: 14 68 41;
    --color-cal-3: 0 109 50;
    --color-cal-4: 38 166 65;
    --color-cal-5: 57 211 83;

    --radius: 0.5rem;

    --cmdk-list-height: 300px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --primary: 66 187 255;
    --primary-gradient-start: 67 183 254;
    --primary-gradient-end: 79 72 230;
    --primary-800: 12 50 71;

    --warning-500: 255 76 63;
    --toastify-icon-color-warning: rgb(var(--warning-500) / 0.15);

    --my-black-600: 46 55 87;
    --my-black-700: 29 32 50;
    --my-black-800: 19 22 37;
    --my-black-900: 16 18 30;

    --my-white-100: 255 255 255;
    --my-white-300: 173 179 204;
    --my-white-500: 85 89 125;

    --my-purple: 149 66 255;

    --my-green-400: 104 209 191;
    --my-green-500: 66 255 119;

    --color-cal-0: 27 31 35;
    --color-cal-1: 22 27 34;
    --color-cal-2: 14 68 41;
    --color-cal-3: 0 109 50;
    --color-cal-4: 38 166 65;
    --color-cal-5: 57 211 83;

    --radius: 0.5rem;

    --cmdk-list-height: 300px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  color: rgb(var(--color-white));
  background: rgb(var(--color-black-900));
}
/* React Calendar heatmap*/
.react-calendar-heatmap .color-myCal-0,
.color-myCal-0 {
  fill: rgb(var(--color-cal-0));
}

.react-calendar-heatmap .color-myCal-1,
.color-myCal-1 {
  fill: rgb(var(--color-cal-1));
}
.react-calendar-heatmap .color-myCal-2,
.color-myCal-2 {
  fill: rgb(var(--color-cal-2));
}
.react-calendar-heatmap .color-myCal-3,
.color-myCal-3 {
  fill: rgb(var(--color-cal-3));
}
.react-calendar-heatmap .color-myCal-4,
.color-myCal-4 {
  fill: rgb(var(--color-cal-4));
}
.react-calendar-heatmap .color-myCal-5,
.color-myCal-5 {
  fill: rgb(var(--color-cal-5));
}

.react-calendar-heatmap .react-calendar-heatmap-month-label,
.react-calendar-heatmap .react-calendar-heatmap-weekday-label {
  font-size: 10px;
  line-height: 20px;
  font-weight: 500;
  fill: #55597d;
}

.react-calendar-heatmap .react-calendar-heatmap-weekday-label {
  padding-right: 5px;
}

.react-calendar-heatmap-weekday-labels {
  transform: translate(0px, 14px);
}

/* CMD K Palette */
.cmdk-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cmdk-modal {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  max-height: 80%;
  overflow: auto;
  padding: 20px;
}

[cmdk-list] {
  /* min-height: 50px; */
  height: var(--cmdk-list-height);
  max-height: 300px;
  transition: height 100ms ease;
  scroll-padding-block-start: 8px;
  scroll-padding-block-end: 8px;
}

.customScroll {
  scrollbar-width: thin;
  scrollbar-color: #adb3cc #1d2032; /*my-white-300 my-Black-700*/
}

/** React Select */

.react-select__input {
  @apply outline-none border-none;
}
/*
.react-select-container {
  @apply bg-myBlack-700 rounded-md px-2;
}

.react-select__control {
  @apply bg-myBlack-700 border-none;
}

.react-select__menu {
  @apply bg-myBlack-700 border-none p-2;
} */

/* Google Autocomplete */

.pac-container {
  background-color: rgb(var(--my-black-700));
  color: "white" !important;
  border: 1px solid rgb(var(--color-black-800));
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pac-item {
  padding: 0.5rem;
  cursor: pointer;
  color: rgb(var(--my-white-300));
}

.pac-item:hover {
  background-color: rgb(var(--my-black-600));
}

.pac-item-selected {
  background-color: rgb(var(--my-black-600));
}

.pac-item-query {
  color: rgb(var(--my-white-300));
}

.pac-matched {
  color: rgb(var(--primary));
}
